	*{
		padding: 0;
		margin: 0;
		text-decoration: none;
		list-style: none;
		box-sizing: border-box;
	}


	body{
		font-family: sans-serif;
		background-color: #ffff00;
		}

	nav{
		background: #0082e6;
		height: 80px;
		width: 100%;
	}
	label.logo{
		color: white;
		font-size: 35px;
		line-height: 80px;
		padding: 0 100px;
		font-weight: bold;
	}

	nav ul{
		float: right;
		margin-right: 20px;
	}
	nav ul li{
		display: inline-block;
		line-height: 80px;
		margin: 0 5px;
	}
	nav ul li a{
		color: white;
		font-size: 17px;
		padding: 7px 13px;
		border-radius: 3px;
	}
	a.active{
		background: #1b9bff;
		transition: .5s;
	}
	a.passive{
		background: #1b9bff;
		transition: .5s;
	}

	
	/*main div h3 span{
		display: none;
	}*/

main{
	font-size: 2rem;
	margin: 0 auto;
}
	button{
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #000000;
	cursor: pointer;
}

.current{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20px;
	padding-top: 200px; 


}



}
span{
	display: none;
}